.cart {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .item-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  .item-details h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: auto;
    cursor: pointer;
  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkout-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .cart-item
  {
    border: 1px solid black;
    background-color: #F8F8F8;
  }

  .nav
{
  background-color: rgb(255, 21, 21);
  padding: 10px;
  margin: 0px;
  padding-top: 0px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  position: sticky;
  top: -10px;
  z-index: 1;
  
  

  
}

.li-1
{
  display: inline;
  padding: 20px;
  
}

.nav-a
{
  color: white;
  text-decoration: none;
}

.ul-1
{
  padding-left: 0px;
  width: 100%

}

body
{
  margin: 0px;
  padding: 0px;
}

#top-logo
{
  position: relative;
  top: 20px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

#search-box
{
  width: 50%;
  height: 40px;
}

body
{
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.fa-sharp
{
  position: relative;
  right: 30px;
}

.moped
{
  position: relative;
  top: 5px;

}

.food
{
  position: relative;
  top: 8px;
  padding: 0px;
  margin: 0px;
}

.nav
{
  height: 100px;
}

.ul-1
{
  position: relative;
  bottom: 12px;
}

#search-box
{
  height: 40px;
}

#mag
{
  color: black;
}

.fa-sharp
{
  color: white;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

